*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.7;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0;
}

.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color:black;
    margin: 1rem 0;
}
.product-rating{
    color:#2fff97ea;
}

.product-rating span{
    font-weight: 600;
    color: #252525;
}
.button{
    position: absolute;
    top: 70%;
    left: 67%;
    transform: translate(-50%,-50% ); 
}
.purchase-info .btn:first-of-type{
    border:1px solid black;
    padding:10px 30px;
    background-color:black;
    color: white;
    text-decoration: none;
    transition: 0.6s ease;
}
.purchase-info .btn:last-of-type{
    border:1px solid black;
        padding:10px 30px;
        color:black;
        text-decoration: none;
        transition: 0.6s ease;}
.purchase-info .btn:hover{
    background-color:black;
        color:white;
}

.feature{
    display: inline-flex;
    align-items: center;
    display: flex;
    width: 100%;

}
.card-bottom{
    color: rgb(65,64,64);
}
.payment-info{
  font-size: 15px; 
  margin-left: 1.7rem; 
}
.delivery-info{
    font-size: 15px; 
    margin-left: 1.7rem; 
  }
  .policy-info{
    font-size: 15px; 
    margin-left: 1.7rem; 
  }
  .product-payment{
      margin-left: 0.1rem;
      margin-right: 5rem;
  }
  .product-delivery{
   
    margin-right: 5rem;
}
.purchase-info{
    
    margin-right: 10px;
}
.card-bottom{
    margin-right: 10px;
}

  @media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;}
.card-bottom{
    display: flex;
    justify-content: center;
    align-items: center;

}

    
}